<html layout:decorate="~{global/usrLayout}">

<head>
    <title th:text="|글 목록|"></title>
</head>

<body>

<div layout:fragment="content">
    <script>
        function submitSearchForm(form) {
            const kwTypeCheckboxes = form.querySelectorAll("input[name='kwType']");

            const isChecked = Array.from(kwTypeCheckboxes).some(checkbox => checkbox.checked);

            if (!isChecked) {
                alert("최소한 하나의 검색 유형을 선택해야 합니다.");

                if (kwTypeCheckboxes.length > 0) {
                    kwTypeCheckboxes[0].focus();
                }

                return;
            }

            form.submit();
        }
    </script>


    <h1>글 목록</h1>
    <form onsubmit="submitSearchForm(this); return false;">
        <div style="display:flex; gap:10px;">
            <label><input type="checkbox" name="kwType" value="authorName" th:checked="${kwTypesMap['authorName']}"><span>작성자</span></label>
            <label><input type="checkbox" name="kwType" value="title"
                          th:checked="${kwTypesMap['title']}"><span>제목</span></label>
            <label><input type="checkbox" name="kwType" value="body"
                          th:checked="${kwTypesMap['body']}"><span>내용</span></label>
            <div>
                <label for="sortCode">정렬:</label>
                <select id="sortCode" name="sortCode">
                    <option value=""></option>
                    <option value="idAsc">오래된 순</option>
                    <option value="hitCountDesc">조회수 높은순</option>
                    <option value="likeCountDesc">추천 높은순</option>

                </select>
            </div>







        </div>
        <input type="search" name="kw" placeholder="검색어" th:value="${param.kw}">
        <input type="submit" value="검색">
    </form>


    <table class="table">
        <thead class="table-dark">
        <tr class="text-center">
            <th>번호</th>
            <th>제목</th>
            <th>내용</th>
            <th>글쓴이</th>
            <th>작성일시</th>
            <th>조회수</th>
            <th>좋아요</th>
        </tr>
        </thead>

        <tbody>

        <tr class="text-center" th:each="post, loop : ${postPage}">
            <td th:text="${postPage.getTotalElements - (postPage.number * postPage.size) - loop.index}"></td>
            <td class="text-start">
                <a th:href="@{|/post/${post.id}|}" th:text="${post.title}"></a>
<!--                <span class="text-danger small ms-2"-->
<!--                      th:if="${post.viewCount > 0}"-->
<!--                      th:text="${post.viewCount}">조회수-->
<!--                </span>-->
<!--                <span class="text-danger small ms-2"-->
<!--                      th:if="${#lists.size(post.answerList) > 0}"-->
<!--                      th:text="${#lists.size(post.answerList)}">댓글수-->
<!--                </span>-->

<!--                </span>-->
            </td>
            <td><a th:href="@{|/post/${post.id}|}" th:text="${post.body}"></a></td>
            <td><a th:if="${@rq.getLoginedMember() != null}" th:text="${@rq.getLoginedMember().getUsername()}"></a></td>
            <td th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></td>
            <td><a th:text="${post.hitCount}"></a></td>
            <td><a th:text="${post.likeCount}"></a></td>
        </tr>
        </tbody>
    </table>

    <th:block th:with="queryStrBase = ${@rq.getCurrentQueryStringWithoutParam('page')}">
        <th:block th:replace="global/fragments/pagination :: pagination(${postPage}, ${queryStrBase}, 1)">

        </th:block>
    </th:block>
    <a th:href="@{/post/write}" class="btn btn-primary">질문 등록하기</a>
    <form th:action="@{/post/list}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${postPage.number}">
    </form>
</div>

</body>

</html>

